/* Custom styles for Plan admin */

/* کاهش عرض ستون حداکثر جلسات فعال */
.column-max_active_sessions {
    width: 60px !important;
    min-width: 60px !important;
    max-width: 80px !important;
}

.column-max_active_sessions input {
    width: 50px !important;
}
